/*** SETUP ***/
//Fonts

@font-face {
  font-family: 'LatoRegular';
  src: url("fonts/lato/Lato-Regular.ttf");
  src: url("fonts/lato/lato-regular-webfont.eot") format('embedded-opentype'), url("fonts/lato/lato-regular-webfont.woff") format('woff'), url("fonts/lato/Lato-Regular.ttf") format('truetype'), url("fonts/lato/lato-regular-webfont.svg#latoregular") format('svg');
}

@font-face {
  font-family: 'LatoLight';
  src: url("fonts/lato/lato-light-webfont.ttf");
  src: url("fonts/lato/lato-light-webfont.eot") format('embedded-opentype'), url("fonts/lato/lato-light-webfont.woff") format('woff'), url("fonts/lato/lato-light-webfont.ttf") format('truetype'), url("fonts/lato/lato-lightitalic-webfont.svg#latolight_italic") format('svg');
}
$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
$font-family-sans-serif: "LatoRegular", "Roboto", sans-serif !default;
$font-family-light-sans-serif: "LatoLight", "Roboto", sans-serif !default;

// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower
//Vc colours
$vc-col: #31404d;
$vc-col-dark: #222e38;

//Vc pastel colours
$vc-col-pastel-grey: #eef0f2;
$vc-col-pastel-green: #bce7d1;
$vc-col-pastel-blue: #abc2fd;
$vc-col-pastel-red: #fd8491;
$vc-col-pastel-yellow: #fdf18e;

//vc pastel border colours
$vc-border-col-pastel-grey: #adadad;
$vc-border-col-pastel-green: #a6d7b9;
$vc-border-col-pastel-blue: #a1c1ed;
$vc-border-col-pastel-red: #ef9998;
$vc-border-col-pastel-yellow: #f5e89e;

//urls
$vc-white-logo-url: url("../images/VC_logo_white.png");
$vc-icon-month: url("../images/50px_month.png");
$vc-icon-day: url("../images/50px_daily.png");
$vc-icon-list: url("../images/50px_list.png");
$vc-icon-live: url("../images/50px_live.png");
$vc-icon-logout: url("../images/50px_logout.png");
$vc-icon-menu: url("../images/50px_menu.png");
$vc-icon-history: url("../images/50px_history.png");
$vc-icon-checkin: url("../images/25px_checkin.png");
$vc-icon-checkout: url("../images/25px_checkout.png");
$vc-icon-cancel: url("../images/25px_delete.png");
$vc-icon-report: url("../images/25px_report.png");
$navbar-height: 50px;
$sidebar-width: 220px;

/*** CORE ***/
body {
  font-family: $font-family-light-sans-serif;
  padding-top: $navbar-height;
}

body,
html,
#page,
#content,
.sidebar {
  height: 100%;
}

#content {
  overflow-x: scroll;
}

div#content div.container {
  padding: 15px 0 0;
}

b,
strong {
  font-family: $font-family-sans-serif;
}

/*** HEADER ***/
div.navbar {
  height: $navbar-height;
}

div.navbar a.logoutBtn {
  background-image: $vc-icon-logout;
  background-repeat: no-repeat;
  background-size: contain;
  width: 105px;
  background-position-x: 100%;
  text-align: left;
}

div.navbar a.btn,
div.login button.betaBtn {
  margin-top: 8px;
  margin-right: 10px;
  color:white;
}

.navbar-item {
  height: $navbar-height;
}

div.navbar-inverse {
  background-color: $vc-col;
  border-bottom: none;
}

div.navbar-fixed-top {
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.75);
}

div.navbar-header {
  width: $sidebar-width;
  height: $navbar-height;
  background-image: $vc-white-logo-url;
  background-size: 150px;
  background-repeat: no-repeat;
  background-position: 0 -20px;
}

/*** SIDEBAR ***/
.sidebar {
  width: $sidebar-width;
  float: left;
  position: relative;
  background-color: $vc-col;
  -webkit-transition: margin 0.3s ease;
  -moz-transition: margin 0.3s ease;
  -o-transition: margin 0.3s ease;
  transition: margin 0.3s ease;
  padding-top: 15px;
}

div.pull-bottom {
  position: absolute;
  bottom: 0;
  display: block;
  float: right;
  right: 0;
}

.nav-pills > li > a {
  border-radius: 0;
  color: #fff;
  padding-left: 45px;
  background-repeat: no-repeat;
  background-position: 10px center;
  background-size: 28px;
}

.nav-pills > li > a:hover,
.nav-pills > li > a:focus,
.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
  background-color: $vc-col-dark !important;
  box-shadow: inset 0 0 5px 0 rgba(0,0,0,0.5);
  text-decoration: none;
}

// .nav-pills > li:last-child > a {
//   // margin-top: 35px;
//   border-top: 1px solid $vc-col-dark;
//   border-bottom: 1px solid $vc-col-dark;
// }

.nav-pills > li.month > a {
  background-image: $vc-icon-month;
}

.nav-pills > li.day > a {
  background-image: $vc-icon-day;
}

.nav-pills > li.list > a {
  background-image: $vc-icon-list;
}

.nav-pills > li.live > a {
  background-image: $vc-icon-live;
}

.nav-pills > li.iconmenu > a {

  //	background-image: $vc-icon-menu;
  display: block;
  width: 220px;
  padding: 10px;
}

.sidebar.collapsed .nav-pills > li.iconmenu > a span,
li.iconmenu > a span {
  font-size: x-large;
  vertical-align: text-bottom;
}

.sidebar.collapsed .nav-pills > li.iconmenu > a span::before {
  content: "\e080";
}

.nav-pills > li.iconmenu > a span::before {
  content: "\e079";
}

.nav-pills > li.iconmenu > a span {
  padding-right: 30px;
}

.sidebar.collapsed li.iconmenu > a span {
  float: right;
  padding-right: 0;
}

.nav-pills > li.logout > a {
  background-image: $vc-icon-logout;
}

.sidebar.collapsed .nav-pills > ul > li > a {
  width: 46px;
  float: right;
  font-size: 0;
  height: 46px;
}

.sidebar.collapsed .nav-pills > li.month > a,
.sidebar.collapsed .nav-pills > li.day > a,
.sidebar.collapsed .nav-pills > li.list > a,
.sidebar.collapsed .nav-pills > li.live > a,
.sidebar.collapsed .nav-pills > li.logout > a,
.sidebar.collapsed .nav-pills > li.iconmenu > a {
  background-position: right 10px center;
  -webkit-transition: background-position 0.3s ease;
  -moz-transition: background-position 0.3s ease;
  -o-transition: background-position 0.3s ease;
  transition: background-position 0.3s ease;
}

.sidebar.collapsed {
  margin-left: -174px;
  /* same width as sidebar */
}

/*** MAIN AREA ***/
#content.mainContent {
  -webkit-transition: padding 0.3s ease;
  -moz-transition: padding 0.3s ease;
  -o-transition: padding 0.3s ease;
  transition: padding 0.3s ease;
}

.mainContent .container {
  width: 100%;
  overflow-x: scroll;
  overflow-y: scroll;
}

/*** DAILY VIEW ***/
.container-fluid {
  padding-bottom: 10px;
  border-bottom: 1px solid #ccc;
  margin-bottom: -7px;
}

.dayShow {
  float: right;
  margin-top: 10px;
}

.dayShow input[type="radio"] {
  display: none;
}

.dayShow label {
  display: inline-block;
  /* background-color: $vc-col-pastel-green; */
  padding: 4px 11px;
}

/* .dayShow input[type="radio"]:checked + label {
  background-color: $vc-border-col-pastel-green;
} */

.dayFilters {
  border-bottom: 1px solid #cdcdcd;
  padding: 4px 0;
  margin-bottom: 15px;
}

.dayDate {
  float: left;
  margin-top: 24px;
  clear: both;
}

.dayDate > .input-group {
  width: 172px;
}

.dayDate .form-control,
.dayZone .form-control {
  border: 0 solid #fff;
  box-shadow: none;
}

.dayDate .input-group-addon:after {
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  content: '\e259';
  margin-left: 8px;
}

.dayRequests:before {
  font-family: 'Glyphicons Halflings' !important;
  content: '\e259';
  margin-left: 8px;
}

.dayDate .input-group-addon {
  border: 0 solid #fff;
  background-color: #fff;
  padding-right: 0;
  font-family: $font-family-sans-serif;
  font-weight: normal;
}

.dayDate ul.dropdown-menu {
  left: 14px !important;
  top: 31px !important;
}

.dayDate ul > li > div > table {
  margin: 4px 8px;
}

.dayDate ul > li > div > table tr .btn-sm {
  border-color: #fff;
  font-size: 15px;
  padding: 2px 7px;
}

.dayDate ul > li > div > table thead tr th {
  font-family: $font-family-sans-serif;
  font-weight: normal;
}

.dayZone {
  display: block;
  margin-top: 24px;
  padding-bottom: 48px;
}

.dayZ > .form-control {
  width: 83px;
}

.dayZone .btn.dropdown-toggle {
  background-color: #fff;
}

.dayZone .btn-group ul.dropdown-menu {
  left: 17px;
}

.daySearch {
  padding-right: 0;
}

.daySearch .form-control {
  border: 1px solid #ccc;
}

.daySearch .searchIcon {
  font-family: 'Glyphicons Halflings';
  content: '\e259';
  font-size: 24px;
}

.daySearch .input-group-addon {
  background-color: #fff;
  border-left: 0 solid #fff;
}

.dayReset.btn-warning {
  background-color: #fff;
  color: #222;
  border: 1px solid #ccc;
  font-family: $font-family-sans-serif;
}

.dayReset.btn-warning:hover .dayReset.btn-warning:focus {
  background-color: #efefef;
  border: 1px solid #ccc;
  color: #000;
}

.dayBookings {
  padding-bottom: 11px;
  border-bottom: 1px solid #cdcdcd;
  width: 100%;
}

.dayBookings button {
  border: 1px solid #ccc;
  margin-right: 10px;
  border-radius: 4px !important;
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
  margin-top: 9px;
}

.dayBookings button:hover,
.dayBookings button:focus,
.dayBookings button:active {
  border-color: #888;
}

.dayBookings button.All {
  background-color: #fff;
}

.dayBookings button.Scheduled {
  background-color: $vc-col-pastel-grey;
  border-color: $vc-border-col-pastel-grey;
}

.dayBookings button.Scheduled:hover,
.dayBookings button.Scheduled:focus {
  background-color: $vc-border-col-pastel-grey;
  border-color: $vc-border-col-pastel-grey;
}

.dayBookings button.Checked.in {
  background-color: $vc-col-pastel-green;
  border-color: $vc-border-col-pastel-green;
}

.dayBookings button.Checked.in:hover,
.dayBookings button.Checked.in:focus {
  background-color: $vc-border-col-pastel-green;
  border-color: $vc-border-col-pastel-green;
}

.dayBookings button.Checked.out {
  background-color: $vc-col-pastel-blue;
  border-color: $vc-border-col-pastel-blue;
}

.dayBookings button.Checked.out:hover,
.dayBookings button.Checked.out:focus {
  background-color: $vc-border-col-pastel-blue;
  border-color: $vc-border-col-pastel-blue;
}

.dayBookings button.Refused {
  background-color: $vc-col-pastel-red;
  border-color: $vc-border-col-pastel-red;
}

.dayBookings button.Refused:hover,
.dayBookings button.Refused:focus {
  background-color: $vc-border-col-pastel-red;
  border-color: $vc-border-col-pastel-red;
}

.dayBookings button.Cancelled {
  background-color: white;
}

.dayBookings button.Cancelled:hover,
.dayBookings button.Cancelled:focus {
  background-color: white;
}

.dayBookings button.Declined {
  background-color: white;
}

.dayBookings button.Declined:hover,
.dayBookings button.Declined:focus {
  background-color: white;
}

.dayBookings button.For.approval {
  background-color: $vc-col-pastel-yellow;
  border-color: $vc-border-col-pastel-yellow;
}

.dayBookings button.For.approval:hover {
  background-color: $vc-border-col-pastel-yellow;
  border-color: $vc-border-col-pastel-yellow;
}

.dayBookings button .badge {
  background-color: rgba(256,256,256,0.4);
  color: #000;
  margin-left: 5px;
}

.dayBookings button.All .badge {
  background-color: rgba(0,0,0,0.1);
}

.dayTable {
  position: relative;
}

.dayTimes {
  position: relative;
  height: 20px;
  background: -moz-linear-gradient(left, rgba(56,53,73,0.5) 0%, rgba(203,209,214,0.43) 19%, rgba(255,233,40,0.36) 39%, rgba(255,233,40,0.29) 60%, rgba(197,206,214,0.22) 81%, rgba(56,53,73,0.15) 99%, rgba(56,53,73,0.15) 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(56,53,73,0.5)), color-stop(19%,rgba(203,209,214,0.43)), color-stop(39%,rgba(255,233,40,0.36)), color-stop(60%,rgba(255,233,40,0.29)), color-stop(81%,rgba(197,206,214,0.22)), color-stop(99%,rgba(56,53,73,0.15)), color-stop(100%,rgba(56,53,73,0.15)));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, rgba(56,53,73,0.5) 0%,rgba(203,209,214,0.43) 19%,rgba(255,233,40,0.36) 39%,rgba(255,233,40,0.29) 60%,rgba(197,206,214,0.22) 81%,rgba(56,53,73,0.15) 99%,rgba(56,53,73,0.15) 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left, rgba(56,53,73,0.5) 0%,rgba(203,209,214,0.43) 19%,rgba(255,233,40,0.36) 39%,rgba(255,233,40,0.29) 60%,rgba(197,206,214,0.22) 81%,rgba(56,53,73,0.15) 99%,rgba(56,53,73,0.15) 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(left, rgba(56,53,73,0.5) 0%,rgba(203,209,214,0.43) 19%,rgba(255,233,40,0.36) 39%,rgba(255,233,40,0.29) 60%,rgba(197,206,214,0.22) 81%,rgba(56,53,73,0.15) 99%,rgba(56,53,73,0.15) 100%);
  /* IE10+ */
  background: linear-gradient(to right, rgba(56,53,73,0.5) 0%,rgba(203,209,214,0.43) 19%,rgba(255,233,40,0.36) 39%,rgba(255,233,40,0.29) 60%,rgba(197,206,214,0.22) 81%,rgba(56,53,73,0.15) 99%,rgba(56,53,73,0.15) 100%);
  /* W3C */
  filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#80383549', endColorstr='#26383549',GradientType=1 );
  /* IE6-9 */
  margin-bottom: 8px;
  padding-top: 2px;
}

.dayHours {
  position: absolute;
  font-size: 13px;
  font-family: $font-family-sans-serif;
}

.dayColumns {
  position: absolute;

  // margin-left: 16px;
}

.dayColumnGrid {
  position: absolute;
  border-left: 1px dotted #333;
  height: 500px;
}

.dayBooking {
  background-color: #fff;
  font-size: 12px;
  border-color: #888;
  position: absolute;
  overflow: hidden;
  border: 1px solid #bbb;
  height: 25px;
  cursor: pointer;
  padding: 3px;
}

.dayBooking.booking-status-checked-in {
  background-color: $vc-col-pastel-green;
  border-color: $vc-border-col-pastel-green;
}

.dayBooking.booking-status-scheduled {
  background-color: $vc-col-pastel-grey;
  border-color: $vc-border-col-pastel-grey;
}

.dayBooking.booking-status-refused {
  background-color: $vc-col-pastel-red;
  border-color: $vc-border-col-pastel-red;
}

.dayBooking.booking-status-checked-out {
  background-color: $vc-col-pastel-blue;
  border-color: $vc-border-col-pastel-blue;
}

.dayBooking.booking-status-for-approval {
  background-color: $vc-col-pastel-yellow;
  border-color: $vc-border-col-pastel-yellow;
}

/*** MAIN DETAIL MODAL ***/
.modal > .modal-dialog {
  width: 70%;
  top: 150px;
}

.detail {
  width: 75%;
  background-color: #fff;
  border-radius: 6px;
}

.detail span.declined {
  color: black;
}

.detail span.forApproval {
  color: $vc-col-pastel-yellow;
}

.detail span.scheduled {
  color: $vc-border-col-pastel-grey;
}

.detail span.checkedIn {
  color: $vc-col-pastel-green;
}

.detail span.refused {
  color: $vc-col-pastel-red;
}

.detail span.cancelled {
  color: black;
}

.detail span.checkedOut {
  color: $vc-col-pastel-blue;
}

.detailButtons {
  padding: 15px 20px;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  min-height: 70px;
}

.detailInfo {
  padding: 15px 20px;
}

.detailInfo.row {
  margin: 0;
}

.detailInfo .dl-horizontal dt,
.detailInfo dt,
 {

}

.detailInfo .dl-horizontal dt,
.detailInfo dt {
  width: auto;
  font-weight: normal;
  font-family: $font-family-sans-serif;
  font-size: 12px;
  float: left;
  clear: left;
}

.detailInfo .dl-horizontal dd,
.detailInfo dd {
  text-align: right;
  margin-left: 4px;
  font-size: 12px;
  float: right;
}

.detailInfo .col-xs-3 {
  padding: 0 20px 0 0;
}

.detailInfo .col-xs-3:last-child {
  padding: 0;
}

.detail h2 {
  margin-top: 9px;
}

.detailButtons button {
  margin: 2px;
  border: 1px solid $vc-border-col-pastel-grey;
  background-color: #fff;
  padding-left: 45px;
  background-position: left 10px center;
  background-repeat: no-repeat;
}

.detailButtons button:hover,
.detailButtons button:focus {
  border-color: #000;
  color: #000;
}

.detailButtons .approve {
  border-color: $vc-col-pastel-green;
  padding-left: 10px;
}

.detailButtons .checkin {
  border-color: $vc-col-pastel-green;
  background-image: $vc-icon-checkin;
}

.detailButtons .approve:hover,
.detailButtons .approve:focus,
.detailButtons .checkin:hover,
.detailButtons .checkin:focus {
  border-color: $vc-border-col-pastel-green;
}

.detailButtons .report {
  border-color: $vc-col-pastel-red;
  background-image: $vc-icon-report;
}

.detailButtons .report:hover,
.detailButtons .report:focus {
  border-color: $vc-border-col-pastel-red;
}

.detailButtons .refuse {
  border-color: $vc-col-pastel-red;
  padding-left: 10px;
}

.detailButtons .refuse:hover,
.detailButtons .refuse:focus {
  border-color: $vc-border-col-pastel-red;
}

.detailButtons .cancel {
  border-color: #85888d;
  background-image: $vc-icon-cancel;
  float: right;
}

.detailButtons .cancel:hover,
.detailButtons .cancel:focus {
  border-color: #85888d;
}

.detailButtons .checkout {
  border-color: $vc-col-pastel-blue;
  background-image: $vc-icon-checkout;
}

.detailButtons .checkout:hover,
.detailButtons .checkout:focus {
  border-color: $vc-border-col-pastel-blue;
}

.detailReason {
  padding: 15px 20px;
  background-color: #fff !important;
}

.detailReason .modal-header {
  padding: 0;
  border-bottom: 0 solid #fff;
}

.detailReason label {
  font-weight: normal;
  color: #000;
  font-family: $font-family-sans-serif;
}

.detailReport {
  width: 25%;
  position: fixed;
  top: 0;
  right: 0;
  background-color: $vc-col;
  color: #fff;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  height: 100%;
  box-shadow: inset 5px 0 5px -5px #000;
  padding: 8px 10px;
  overflow: scroll;
}

.modal-content {
  background-color: $vc-col;
}

.detailReport h3 {
  background-image: $vc-icon-history;
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 26px;
  padding-left: 34px;
  line-height: 30px;
  font-family: $font-family-sans-serif;
  font-size: 18px;
}

.detailReport hr {
  border: 1px solid $vc-col-dark;
  padding: 0 -10px;
  margin-bottom: 15px;
}

.detailEvent {
  float: right;
  font-family: $font-family-sans-serif;
  color: $vc-border-col-pastel-red;
}

.detailReport .table > tbody > tr > td {
  border-top: 0 solid $vc-col;
  margin-top: 15px;
}

.detailReason2 {
  font-size: 12px;
}

.detailComments {
  color: $vc-border-col-pastel-red;
}

/*** Month View ***/
.monthFilters {
  border-bottom: 1px solid #cdcdcd;
  padding: 4px 0 48px;
}

.monthLabel {
  float: left;
  padding-top: 30px;
  font-family: $font-family-sans-serif;
}

.monthDate {
  float: left;
  margin-top: 24px;
}

.monthDate > .input-group {
  width: 172px;
}

.monthDate .form-control,
.monthDate .form-control {
  border: 0 solid #fff;
  box-shadow: none;
}

.monthDate .input-group-addon:after {
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  content: '\e259';
  margin-left: 8px;
}

.monthDate .input-group-addon {
  border: 0 solid #fff;
  background-color: #fff;
  padding-right: 0;
  font-family: $font-family-sans-serif;
  font-weight: normal;
}

.monthDate ul.dropdown-menu {
  left: -46px !important;
  top: 31px !important;
}

.monthDate ul > li > div > table {
  margin: 4px 8px;
}

.monthDate ul > li > div > table tr .btn {
  border-color: #ccc;
  margin: 3px;
  font-size: 15px;
  padding: 2px 7px;
}

.monthDate ul > li > div > table thead tr th {
  font-family: $font-family-sans-serif;
  font-weight: normal;
  color: #333;
  border: 0 solid #fff;
}

.monthTable th {
  font-family: $font-family-sans-serif;
  font-weight: normal;
  color: #000;
}

.monthTable td.today {
  background-color: rgb(110, 170, 120);
  color: #fff;
}
/*** List View  ***/
.listTable .ng-table-header {
  font-family: $font-family-sans-serif;
  font-weight: normal;
  color: #000;
  text-align: left;
}

.listTable thead tr th {
  padding-top: 45px;
}

.listTable {
  margin-top: 100px;
  border-top: 1px solid #ccc;
}

.listTable tr td {
  border-right: 1px solid #ccc;
}

.listTable tr td:last-child {
  border-right: 0 solid #fff;
}

.listTable td.Scheduled {
  font-family: $font-family-sans-serif;
  color: $vc-border-col-pastel-grey;
}

.listTable td.Checked.out {
  color: $vc-border-col-pastel-blue;
  font-family: $font-family-sans-serif;
}

.listTable td.Cancelled {
  color: $vc-border-col-pastel-yellow;
  font-family: $font-family-sans-serif;
}

.listTable td.Refused {
  color: $vc-border-col-pastel-red;
  font-family: $font-family-sans-serif;
}

.listTable td.Checked.in {
  color: $vc-border-col-pastel-green;
  font-family: $font-family-sans-serif;
}
/*** NOT LOGGED IN ***/
.login {
  border-radius: 3px;
  width: 400px;
  height: 250px;
  margin: 0 auto;
  padding-top: 140px;
}

.login .btn-primary {
  background-color: $vc-col;
  border: $vc-col-dark;
  font-weight: normal;
  font-family: $font-family-sans-serif;
  width: 318px;
}

.login .btn-primary:hover,
.login .btn-primary:focus {
  background-color: $vc-col-dark;
}
/*** MEDIA QUERIES ***/

/* Screen sizes (min-width) defined by Bootstrap:
    - 768px (small),
    - 992px (medium),
    - 1200px (large) */

@media (max-width: 1199px) {
  .mainContent .container {
    min-width: 900px;
    overflow-x: scroll;
  }
}

@media (max-width: 767px) {
  .sidebar {
    margin-left: -220px;
  }

  .sidebar.collapsed {
    width: $sidebar-width;
    display: block;
    float: left;
    position: relative;
    background-color: $vc-col;
    -webkit-transition: margin 0.3s ease;
    -moz-transition: margin 0.3s ease;
    -o-transition: margin 0.3s ease;
    transition: margin 0.3s ease;
    padding-top: 15px;
    margin-left: 0;
  }

  #content.mainContent {
    padding-left: 0;
  }

  #content.mainContent.collapsed-sidebar {
    padding-left: 220px;
  }

  .sidebar.collapsed .nav-pills > ul > li > a {
    width: 220px;
    float: left;
    font-size: 0;
    height: 46px;
    padding-left: 45px;
    background-repeat: no-repeat;
    background-position: 10px center;
    background-size: 28px;
  }

  .sidebar.collapsed .nav-pills > li.month > a,
  .sidebar.collapsed .nav-pills > li.day > a,
  .sidebar.collapsed .nav-pills > li.list > a,
  .sidebar.collapsed .nav-pills > li.live > a,
  .sidebar.collapsed .nav-pills > li.logout > a,
  .sidebar.collapsed .nav-pills > li.iconmenu > a {
    background-position: 10px center;
  }
}

/*** INHERRITED STYLING ***/
.vc-datepicker-input {
  display: inline-block;
}


/*** STYLING FOR RECRUITMENT TASK (by Robert J. Kusznier) ***/

/* Filters */

.dayZone {
    padding-bottom: 6px;
}

.dayFilters > .dayDate {
    /* To take remove it from the regular flow */
    position: absolute;
}

.bookingFilters {

    $margin-top: 10px;

    display: flex;
    flex-flow: row wrap;
    /* To be able to set up top margin without changing the layout */
    position: relative;
    top: -$margin-top;
    
    & > div {
        margin: $margin-top 20px 0 0;

        &:last-child,
        &.pickerMask {
            margin-right: 0;
        }

    }
    
}

/* To cover for the datepicker (.dayDate) which is removed from the flow */
.pickerMask {
    flex: 0 1 172px;
    height: 34px;
}

.dayZ {
    flex: 0 1 97px;
}

.specialRequests {

    flex: 2 1 153px;
    
    button {
        text-align: left;
    }
    
}

.recipientCompany {
    flex: 2 1 165px;
}

.event {
    flex: 1 1 85px;
}

.searchPanel {

    flex: 3 1 230px;

    .dayReset {
        min-width: 40px;
        max-width: 80px;
        display: inline-block;
    }

    .daySearch {
        min-width: 105px;
        display: inline-block;
        width: calc(100% - 90px);
        margin: 0 0 0 10px;
        vertical-align: middle;
    }
    
}

@media (max-width: 1000px) {
    .recipientCompany,
    .event {
        flex-basis: calc(50% - 20px);
    }
    
    .event {
        flex-grow: 2;
    }

    .searchPanel {
        flex-basis: 100%;
    }
}

@media (max-width: 600px) {
    .bookingFilters {
        flex-flow: column nowrap;
        
        & > div {
            flex: 0 1 auto;
        }
        
    }
    
    .pickerMask {
        display: none;
    }
    
    .dayZ {
        padding-left: 172px;
    }
}

/* Switch */

.switchButton {

    $border-radius: 4px;
    $padding: 2px;

    background-color: #3A4C5C;
    border-radius: $border-radius;
    padding: $padding;
    
    label {
    
        margin-bottom: 0;
        border-radius: $border-radius - $padding;
        color: #e0e0e0;
        
        &:not(:first-of-type) {
            margin-left: $padding;
        }
        
    }
    
    input[type="radio"]:checked + label {      
        background-color: #f2780c;
    }
    
    input[type="radio"]:not(:checked) + label:hover {
        cursor: pointer;
        background-color: #bf5f09;
    }
    
}