<div class="container-fluid">
<div class="btn-group">
  <button
    ng-repeat="category in categories"
    class="btn {{ category.label }}"
    btn-radio="category"
    ng-model="selected.category"
    >
    {{ category.label }}
    <span class="badge">
      {{ category.filteredItems.length }}
    </span>
  </button>
</div>
<div class="dayShow switchButton dropdown-menu-right">
    <input type="radio" ng-model="displayField" value="vrn" id="vrn" /><!--
       This comment is here to remove the new line between the elements
       which renders into unwanted space, when elements are inline
 --><label for="vrn">VRN</label><!--
 --><input type="radio" ng-model="displayField" value="companyName" id="company" /><!--
 --><label for="company">Company</label>
</div>
</div>
