<div class="bookingFilters">
  <div class="pickerMask"></div>
  <div class="dayZ">
    <select class="form-control" ng-model="filters.standZone">
      <option value="">Zone</option>
      <option ng-repeat="name in options.standZone">{{ name }}</option>
    </select>
  </div>
  <div class="btn-group specialRequests" dropdown keyboard-nav>
    <button id="simple-btn-keyboard-nav" type="button" class="btn btn-block" dropdown-toggle>
      Special Requests <span class="dayRequests"></span>
    </button>
    <ul class="dropdown-menu" role="menu" aria-labelledby="simple-btn-keyboard-nav">
      <li ng-repeat="option in specialRequestOptions" role="menuitem">
        <a href="#"
           ng-click="toggle(option.key)"
           ng-style="{ 'font-weight': filters[option.key] ? 'bold': 'normal'}"
           ng-class="option.cssClass">{{ option.label }}</a>
      </li>
    </ul>
  </div>

  <div class="recipientCompany">
    <select class="form-control" ng-model="filters.companyName">
      <option value="">Recipient Company</option>
      <option ng-repeat="name in options.companyName">{{ name }}</option>
    </select>
  </div>

  <div class="event">
    <select class="form-control" ng-model="filters.eventName">
      <option value="">Event</option>
      <option ng-repeat="name in options.eventName">{{ name }}</option>
    </select>
  </div>

  <div class="searchPanel">
    <button class="btn btn-warning btn-block dayReset" ng-click="clearFilters()">Reset</button><!--
       This comment is here to remove the new line between the elements
       which renders into unwanted space, when elements are inline
 --><div class="daySearch">
      <div class="input-group">
        <input class="form-control" type="search" placeholder="Search" ng-model="textFilter"/>
        <div class="input-group-addon"><i class="glyphicon glyphicon-search"></i></div>
      </div>
    </div>
  </div>
</div>