<span class="input-group" ng-click="toggleDatepicker()">
  <span class="input-group-addon">{{ label }}</span>
  <input class="vc-datepicker-input form-control" type="text" datepicker-popup="dd-MMM-yyyy" is-open="datepickerVisible" ng-model="date" />
</span>
