<a href="#"><span class="glyphicon glyphicon-bell" aria-hidden="true"></a>
<a href="#" style="text-decoration:none;">
  <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
Greetings, [username]</a>
