<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <title>Voyage Control Traffic</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <style>
      .ng-hide {
        display: none !important;
      }
    </style>
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/ng-table/dist/ng-table.min.css" />
    <link rel="stylesheet" href="bower_components/ngtoast/dist/ngToast.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
  </head>
  <body ng-app="trafficApp" ng-controller="MainCtrl">
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <toast></toast>

    <span us-spinner="{radius:15, width:4, length: 8}" spinner-key="loading"></span>

    <!-- Add your site or application content here -->

    <div class="navbar navbar-inverse navbar-fixed-top">
      <a class="btn pull-right logoutBtn" ng-click="logout()">Logout</a>
      <button style="margin-top:8px; margin-right:10px;" class="btn btn-primary pull-right betaBtn">Beta</button>
	    <div class="navbar-header branded-header">
	      <button type="button" class="navbar-toggle toggle-sidebar-left" data-toggle="collapse" data-target=".navbar-collapse">
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
	    </div>
      <!-- <div class="pull-right">
        <a role="button" class="btn btn-link" href="#">Beta</a>
      </div> -->
	    </div>
	</div>
	<div id="page">
		<div class="sidebar" id="sidebar-left">
	    	<div class="nav-links">
		        <ul class="nav nav-pills nav-stacked">
					<li ui-sref-active="active" ui-sref="month" class="month">
						<a>Monthly Overview</a>
					</li>
					<li ui-sref-active="active" ui-sref="day" class="day">
						<a ui-sref="day">Daily Calendar</a>
					</li>
					<li ui-sref-active="active" ui-sref="list" class="list">
						<a ui-sref="list">List View</a>
					</li>
					<!-- <li class="logout"><a ng-click="logout()">Logout</a></li> -->
		        </ul>
	    	</div>
	    	<div class="pull-bottom nav-links">
		    	<ul class="nav-pills">
			        <li class="iconmenu">
			        <a class="toggle-sidebar-left"><span class="glyphicon"></span>Toggle the sidebar</a>
			        </li>
	        	</ul>
	      	</div>
   		</div>
<div id="content" class="mainContent">
	<div class="col-xs-12 mainInner">
			<div class="ng-hide" ng-show="loggedOut">
			<form ng-submit="login()" class="login">
				<div class="form-group">
			    	<input id="login-username" class="form-control" ng-model="user.username" type="text" name="user" style="width: 318px; font-size: 17px;" placeholder="Email address"/>
				</div>
				<div class="form-group">
			    	<input id="login-password" class="form-control" ng-model="user.password" type="password" name="pass" style="width: 318px; font-size: 17px;"  placeholder="Password"/>
			 	</div>
			 	<div ng-messages="messages">
			    	<div ng-message="badCredentials">Wrong username or password</div>
				</div>
				<button type="submit" class="btn btn-primary">Log In</button>
			</form>
			</div>
			<div ng-if="loggedIn" ui-view class="ng-hide" ng-show="loggedIn" class="container"></div>
    	</div>

   <div class="footer">
      <div class="container">
      </div>
    </div>


    <!--&lt;!&ndash; Google Analytics: change UA-XXXXX-X to be your site's ID &ndash;&gt;-->
     <!--<script>-->
       <!--!function(A,n,g,u,l,a,r){A.GoogleAnalyticsObject=l,A[l]=A[l]||function(){-->
       <!--(A[l].q=A[l].q||[]).push(arguments)},A[l].l=+new Date,a=n.createElement(g),-->
       <!--r=n.getElementsByTagName(g)[0],a.src=u,r.parentNode.insertBefore(a,r)-->
       <!--}(window,document,'script','//www.google-analytics.com/analytics.js','ga');-->

       <!--ga('create', 'UA-XXXXX-X');-->
       <!--ga('send', 'pageview');-->
    <!--</script>-->

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="bower_components/ng-lodash/build/ng-lodash.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-http-auth/src/http-auth-interceptor.js"></script>
    <script src="bower_components/ng-messages/angular-messages.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="bower_components/spin.js/spin.js"></script>
    <script src="bower_components/angular-spinner/angular-spinner.js"></script>
    <script src="bower_components/ng-table/dist/ng-table.min.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/ngtoast/dist/ngToast.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="scripts/app.js"></script>
        <script src="scripts/controllers/main.js"></script>
        <script src="scripts/services/auth-token.js"></script>
        <script src="scripts/services/urls.js"></script>
        <script src="scripts/services/booking.js"></script>
        <script src="scripts/controllers/list-booking.js"></script>
        <script src="scripts/services/login.js"></script>
        <script src="scripts/services/jwt-interceptor.js"></script>
        <script src="scripts/directives/vc-booking-statusses.js"></script>
        <script src="scripts/directives/vc-booking-filters.js"></script>
        <script src="scripts/controllers/day-booking.js"></script>
        <script src="scripts/directives/vc-day-picker.js"></script>
        <script src="scripts/directives/vc-day-range-picker.js"></script>
        <script src="scripts/controllers/detail-booking.js"></script>
        <script src="scripts/services/traffic-status.js"></script>
        <script src="scripts/services/booking-approval.js"></script>
        <script src="scripts/services/http-status-interceptor.js"></script>
        <script src="scripts/services/traffic-report.js"></script>
        <script src="scripts/controllers/month-booking.js"></script>
        <script src="scripts/directives/vc-month-picker.js"></script>
        <!-- endbuild -->

    <script src="scripts/constants.js"></script>
    <script src="scripts/templates.js"></script>

		<script>
		$(document).ready(function () {
			function toggleSidebar(side) {
				var left = $("#sidebar-left"),
					content = $("#content"),
					openSidebarsCount = 0,
					contentClass = "";

				// toggle sidebar
				if (side === "left") {
					left.toggleClass("collapsed");
				}

				// determine number of open sidebars
				if (!left.hasClass("collapsed")) {
					contentClass = "open-sidebar";
				} else {
					contentClass = "collapsed-sidebar";
				}

				// apply class to content
				content.removeClass("open-sidebar collapsed-sidebar")
					   .addClass(contentClass);
			}
			$(".toggle-sidebar-left").click(function () {
				toggleSidebar("left");
				return false;
			});
		});
	</script>


</body>
</html>
