<div class="modal-content detailReason">

  <div class="modal-header">
    <h2 class="modal-title">Select reason</h2>
  </div>

  <div class="modal-body">
    <form name="selection" class="form-horizontal">

      <div class="row">
        <label>
          {{ reasonLabel }}
        </label>
        <div ng-show="submitted && selection.reason.$error.required" class="alert-warning">
          Please select a reason
        </div>
        <select
          class="form-control"
          ng-options="reason.label for reason in reasons"
          ng-model="reason"
          name="reason"
          required
          >
        </select>
      </div>

      <div class="form-group">
        <label>
          Comments
        </label>
        <textarea class="form-control" ng-model="comments"></textarea>
      </div>

      <div class="row">
        <button class="btn btn-primary" ng-click="ok()">Ok</button>
        <button class="btn cancel" ng-click="cancel()">Cancel</button>
      </div>
    </form>
  </div>

</div>
