<div class="modal-content detailReason">

  <div class="modal-header">
    <h2 class="modal-title">No connection</h2>
  </div>

  <div class="modal-body">
    <p class="text-center text-danger">
      Could not connect to server
      {{ serverUrl }}
    </p>
    <button class="btn btn-block" ng-click="close()">Try to connect</button>
  </div>

</div>
