<div class="clearfix dayFilters">

  <vc-booking-statusses bookings="filteredBookings" filtered="visibleBookings" class="dayBookings"></vc-booking-statusses>
  <vc-day-picker day="dayString" class="dayDate" label="Date"></vc-day-picker>

  <vc-booking-filters all="allBookings" filtered="filteredBookings" class="dayZone"></vc-booking-filters>

</div>

<!-- HACK: Set min width to 1000px.  -->
<div ng-if="bookingStack" style="min-width:1000px;">


  <div class="clearfix">
    <div class="dayTimes" style="width:100%;">
      <div ng-repeat="time in times" class="dayHours" ng-style="{left: left(time)}">
        {{ time | date : 'HH:mm' }}
      </div>
    </div>
    <div class="dayTable">
      <div class="dayColumns">
        <div ng-repeat="time in times" ng-style="{left: left(time)}" class="dayColumnGrid">
          &nbsp;
        </div>
      </div>
      <div ng-repeat="item in bookingStack.items" ng-style="{top: item.row * 30, left: left(item.booking.scheduledTimeIn), width: width(item)}" ng-click="editBooking(item.booking)" class="dayBooking" ng-class="item.booking.statusClass()">
        {{ item.booking[displayField] || '???' }}
      </div>
    </div>
  </div>
  <script>

    //Lays out the grid for bookings dynamically.
    $(document).ready(function() {
      setGridWidth();
       $(window).bind('hashchange', function(e) {
         setGridWidth();
       });
    });

    //Responsive reload.
    $(window).resize(function() {
      setGridWidth();
    });

    function setGridWidth() {
      var divHeight = $('body').height();
      var divWidth = $('.dayTimes').width();
      $('.dayColumnGrid').css('height', divHeight + 'px');
      $('.dayColumns').css('width', divWidth + 'px');
    }
  </script>
</div>
