<div class="detail">

  <div class="modal-header">
    <span ng-if="booking.scheduledTimeIn">
      <h3 class="modal-title">
        <strong>{{ booking.scheduledTimeIn | date : 'd MMMM' }}</strong>
        at
        <strong>{{ booking.scheduledTimeIn | date : 'HH:mm' }}</strong>
        until
        <strong>{{ booking.scheduledTimeOut | date : 'HH:mm' }}</strong>
      </h3>
      <h2>to
        <strong>{{ booking.companyName }}</strong>
      </h2>
      <h4>Booking Status:
        <span ng-if="booking.status == TrafficStatus.STATUS_DECLINED" class="declined">Declined</span>
        <span ng-if="booking.status == TrafficStatus.STATUS_UNSCHEDULED" class="forApproval">For Approval</span>
        <span ng-if="booking.status == TrafficStatus.STATUS_SCHEDULED" class="scheduled">Scheduled</span>
        <span ng-if="booking.status == TrafficStatus.STATUS_CHECKED_IN" class="checkedIn">Checked In</span>
        <span ng-if="booking.status == TrafficStatus.STATUS_REFUSED" class="refused">Refused</span>
        <span ng-if="booking.status == TrafficStatus.STATUS_CANCELLED" class="cancelled">Canceled</span>
        <span ng-if="booking.status == TrafficStatus.STATUS_CHECKED_OUT" class="checkedOut">Checked Out</span>
      </h4>
      </dt>
    </span>
  </div>

  <div class="detailButtons">
    <span ng-if="booking.status == TrafficStatus.STATUS_UNSCHEDULED">
      <button class="btn approve" ng-disabled="inProgress" ng-click="approve(booking)">
        <span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span> Approve</button>
      <button class="btn refuse" ng-disabled="inProgress" ng-click="setStatus(TrafficStatus.STATUS_DECLINED)">
        <span class="glyphicon glyphicon-remove"></span> Decline</button>
    </span>
    <span ng-if="booking.status == TrafficStatus.STATUS_SCHEDULED">
      <button class="btn checkin" ng-click="setStatus(TrafficStatus.STATUS_CHECKED_IN)" ng-disabled="inProgress">Check in
      </button>
      <button class="btn refuse" ng-click="setStatus(TrafficStatus.STATUS_REFUSED)" ng-disabled="inProgress"><span class="glyphicon glyphicon-ban-circle" aria-hidden="true"></span> Refuse entry
      </button>
    </span>
    <button class="btn report pull-right" ng-click="reportBooking()">Report booking</button>
    <span ng-if="booking.status == TrafficStatus.STATUS_UNSCHEDULED || booking.status == TrafficStatus.STATUS_SCHEDULED">
      <button class="btn cancel" ng-disabled="inProgress" ng-click="setStatus(TrafficStatus.STATUS_CANCELLED)">Delete booking</button>
    </span>
    <span ng-if="booking.status == TrafficStatus.STATUS_CHECKED_IN">
      <button class="btn cancel" ng-click="deleteStatus(booking.checkinStatus)" ng-disabled="inProgress">Cancel check in</button>
    </span>
    <span ng-if="booking.status == TrafficStatus.STATUS_CHECKED_OUT">
      <button class="btn cancel" ng-click="deleteStatus(booking.checkoutStatus)" ng-disabled="inProgress">Cancel check out</button>
    </span>
    <span ng-if="booking.status == TrafficStatus.STATUS_CHECKED_IN">
      <button class="btn checkout" ng-click="setStatus(TrafficStatus.STATUS_CHECKED_OUT)" ng-disabled="inProgress">Check out</button>
    </span>
    <span ng-if="booking.timeRefused">
      <button ng-if="booking.status == TrafficStatus.STATUS_REFUSED" class="btn cancel" ng-click="deleteStatus(booking.refusalStatus)" ng-disabled="inProgress">Cancel refusal</button>
    </span>


  </div>
  <div class="detailInfo row">
    <h3>Booking Information</h3>
    <div class="col-xs-3">
      <h4>Recipient</h4>
      <dl class="dl-horizontal">
        <dt>Company</dt>
        <dd>{{ booking.companyName }}</dd>
        <dt>Floor/Unit</dt>
        <dd>{{ booking.floorNumber }}</dd>
        <dt>Name</dt>
        <dd>{{ booking.contactName }}</dd>
        <dt>Email</dt>
        <dd>{{ booking.contactEmail }}</dd>
        <dt>Phone</dt>
        <dd>{{ booking.contactPhone }}</dd>
      </dl>
    </div>
    <div class="col-xs-3">
      <h4>Driver</h4>
      <dl class="dl-horizontal">
        <dt>Company</dt>
        <dd>{{ booking.vehicleCompany }}</dd>
        <dt>Name</dt>
        <dd>
          {{ booking.driverName }} {{ booking.driverLastname }}
        </dd>
        <dt>Email</dt>
        <dd>{{ booking.driverEmail }}</dd>
        <dt>Phone</dt>
        <dd>{{ booking.driverPhone }}</dd>
      </dl>
    </div>
    <div class="col-xs-3">
      <h4>Booking</h4>
      <dl class="dl-horizontal">
        <dt>Reference</dt>
        <dd>{{ booking.bookingRef }}</dd>
        <!-- <dt ng-if="approvalRequired">
          <span ng-if="booking.status == TrafficStatus.STATUS_DECLINED">
            Declined
          </span>
          <span ng-if="booking.status != TrafficStatus.STATUS_DECLINED">
            Approval
          </span>
        </dt>
        <dd ng-if="approvalRequired">
          <span>
            <span ng-if="booking.status == TrafficStatus.STATUS_DECLINED">
              {{ booking.timeDeclined | date : 'dd-MMM-yyyy HH:mm' }}
            </span>
            <span ng-if="booking.status != TrafficStatus.STATUS_DECLINED">
              {{ booking.approval.created | date : 'dd-MMM-yyyy HH:mm' }}
            </span>
          </span>
        </dd> -->
        <dt ng-if="booking.timeRefused">Entry refusal</dt>
        <dd ng-if="booking.timeRefused">
          <span>
            {{ booking.timeRefused | date : 'dd-MMM-yyyy HH:mm' }}
          </span>
        </dd>
        <dt>Actual in</dt>
        <dd>
          <span>
            {{ booking.timeIn | date : 'dd-MMM-yyyy HH:mm' }}
          </span>
        </dd>
        <dt>Actual out</dt>
        <dd>
          <span ng-if="booking.status == TrafficStatus.STATUS_CHECKED_OUT">
            {{ booking.timeOut | date : 'dd-MMM-yyyy HH:mm' }}
          </span>
        </dd>

        <span ng-hide="(booking.goodsLift || booking.porter || booking.forklift) === false">
          <dt>Special Requests</dt>
          <dd>
            <span ng-if="booking.goodsLift">Goods Lift
              <span ng-if="(booking.goodsLift && booking.porter) || (booking.goodsLift && booking.forklift)">, </span>
            </span>
            <span ng-if="booking.porter">Porter
              <span ng-if="(booking.porter && booking.forklift)">, </span>
            </span>
            <span ng-if="booking.forklift">Forklift</span>
          </dd>
        </span>


      </dl>
    </div>
    <div class="col-xs-3">
      <h4>Vehicle</h4>
      <dl class="dl-horizontal">
        <dt>Type</dt>
        <dd>{{ booking.vehicleType }}</dd>
        <dt>VRN</dt>
        <dd>{{ booking.vrn }}</dd>
        <dt>Event</dt>
        <dd>{{ booking.eventName }}</dd>
        <dt>Zone</dt>
        <dd>{{ booking.standZone }}</dd>
      </dl>
      </tab>

      </dl>
    </div>

  </div>

</div>
<div class="detailReport">
  <h3>Recent activity</h3>
  <hr />
  <table ng-show="booking.reports.length" class="table table-condensed">
    <tbody>
      <tr ng-repeat="report in booking.reports">
        <td>
          {{ report.whenRecorded | date : 'dd-MMM-yyyy HH:mm' }}
          <span class="detailEvent {{ report.reason }}">{{ report.type }}</span>
          <br />
          <span class="detailReason2">Reason:
            <strong>{{ report.reason }}</strong>
          </span>
          <br />
          <span class="detailComments">{{ report.comments }}</span>
        </td>
      </tr>
    </tbody>
  </table>

</div>
