<div class="listFilters">

	<vc-booking-statusses bookings="filteredBookings" filtered="visibleBookings" class="dayBookings"></vc-booking-statusses>

	<vc-day-range-picker
    class="col-xs-12 col-sm-6 col-md-2 dayDate"
    start="dayStrings.startDate"
    end="dayStrings.endDate"
  ></vc-day-range-picker>

  <vc-booking-filters all="allBookings" filtered="filteredBookings" class="dayZone"></vc-booking-filters>

<!--  <div class="dayShow">
	  <input type="radio" ng-model="displayField" value="vrn" id="vrn">
	  <label for="vrn">
	    VRN
	  </label>
	    <input type="radio" ng-model="displayField" value="companyName" id="company">
	  <label for="company">
	    Company
	  </label>
  </div>
-->

</div>
<table ng-table="tableParams" class="table table-hover listTable">
  <tr ng-repeat="booking in $data" ng-click="editBooking(booking)" ng-class="booking.statusClass()">
    <td data-title="'Status'" data-sortable="'status'" class=" {{ statusText(booking.status) }}">
      {{ statusText(booking.status) }}
    </td>
    <td data-title="'Type'" data-sortable="'vehicleType'">
      {{ booking.vehicleType }}
    </td>
    <td data-title="'VRN'" data-sortable="'vrn'">
      {{ booking.vrn }}
    </td>
    <td data-title="'Stand'" data-sortable="'standZone'">
      {{ booking.standZone }}
    </td>
    <td data-title="'Special requests'" data-sortable="'requests'">
      {{ booking.requests }}
    </td>
    <td data-title="'Recipient company'" data-sortable="'companyName'">
      {{ booking.companyName }}
    </td>
    <td data-title="'Scheduled arrival'" data-sortable="'scheduledTimeIn'">
      {{ booking.scheduledTimeIn | date: 'dd-MMM-yyyy HH:mm' }}
    </td>
    <td data-title="'Arrived'" data-sortable="'timeIn'">
      {{ (booking.timeIn || booking.timeRefused) | date : 'HH:mm' }}
    </td>
    <td data-title="'Scheduled departure'" data-sortable="'scheduledTimeOut'">
      {{ booking.scheduledTimeOut | date: 'HH:mm' }}
    </td>
    <td data-title="'Departed'" data-sortable="'timeOut'">
      {{ booking.timeOut | date : 'HH:mm' }}
    </td>
  </tr>
</table>
