<div class="monthFilters">
	<vc-booking-statusses bookings="filteredBookings" filtered="visibleBookings" class="dayBookings"></vc-booking-statusses>

	<span class="monthLabel">Month: </span><vc-month-picker month="month" class="monthDate" label="Month"></vc-month-picker>

	<vc-booking-filters all="allBookings" filtered="filteredBookings" class="dayZone"></vc-booking-filters>
</div>

<table class="table monthTable">
  <thead>
  <tr>
    <th style="min-width:100px;">Date</th>
    <th>Total vehicles</th>
    <th ng-repeat="hour in hours">
      {{ hour }}:00
    </th>
  </tr>
  </thead>
  <tbody>
  <tr ng-repeat="day in days" ng-click="goto(day.date)" style="cursor: pointer;">
    <td ng-class="{today: day.isToday}">{{ day.date | date : 'EEE dd-MMM' }}</td>
    <td style="text-align: center; background-color: rgba(110, 170, 120, {{ day.count / highestDayCount }})">{{ day.count }}</td>
    <td style="text-align: center; background-color: rgba(110, 170, 120, {{ hour.count / highestHourCount }})" ng-repeat="hour in day.hours">
      {{ hour.count }}
    </td>
  </tr>
  </tbody>
</table>
